<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Button Layout</title>
<style>
    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 60px;
    
    }
    .button-container .button {
        margin: 5px;
        padding: 10px 20px;
        background-color: pink;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
</head>
<nav class="navbar navbar-light bg-body-tertiary">
    <h1>Dashboard</h1>
</nav>
<body>

<div class="button-container">
    <button class="button">10    Total Products</button>
    <button class="button">5    Total Order</button>
</div>
<div class="button-container">
    <button class="button">Order calender</button>
    <button class="button">Product Management</button>
    <button class="button">Order Managementt</button>
</div>
<div class="button-container">
    <button class="button">Track Order</button>
    <button class="button">Add Product </button>
</div>

</body>
</html>
