h1{
    text-align: center;
    margin-left: 45%;
}
body{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/030/814/827/small/wooden-table-and-blur-tropical-green-grass-background-product-display-montage-high-quality-8k-fhd-ai-generated-free-photo.jpg);
}